<div class="content img-responsive" ng-controller="AboutController">
    <a id="top"></a>
    <ul id="aboutTabs" class="nav nav-tabs">
        <li class="active"><a href="#about" role="tab" data-toggle="tab">About</a></li>
        <li><a href="#mission" role="tab" data-toggle="tab">Mission</a> </li>
        <li><a href="#agenda" role="tab" data-toggle="tab">Vision</a> </li>
        <li><a href="#contact" role="tab" data-toggle="tab">Contact</a> </li>
        <li style="float: right"><a href="#jta" role="tab" data-toggle="tab">The JTA Group</a> </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="about">
            <h1><b>About</b> Colorado <b>Fashion</b> Week</h1>

            <p>Each year, <span class="cfw-name"> Colorado <b>Fashion</b> Week</span> will present the collections of the most promising emerging and established fashion designers and brands as part of the international fashion business calendar in the beautiful City of Denver, Colorado.  Starting in 2013 CFW will return as a biannual fashion marketing and trade event in April/May and September/October of every year.</p>
            <p>The vision and purpose of Colorado Fashion Week is to build Colorado’s international fashion industry presence as well as elevate Denver’s brand as a City—on the national level;</p>
            <ul>
                <li> To create jobs and promote new business initiatives; to retain in Colorado the incredible emerging fashion industry talent we often loose to the more established fashion industry markets like New York City, London, Paris and Milan;</li>
                <li>To provide both the state of Colorado and the City of Denver the necessary foundational elements it requires to effectively position itself as the fashion capital of the West and Middle America.</li>
            </ul>
            <p>In Colorado Fashion Week’s inaugural year, we presented eight different fashion designers and one boutique with a combined total of over 225 garments going down the runway and more than 1,200 spectators attending throughout the week.   </p>
            <p>For CFW 2014, we anticipate an even greater production value level and a much higher turn out.  Our committed sponsors of CFW 2013 include Seawell Grand Ballroom at the Denver Center for the Arts, JW Marriott at Cherry Creek, Telemundo, RoofStar Colorado, GlowMundo and Collage Magazine. </p>
            <p><span class="cfw-name"> Colorado <b>Fashion</b> Week</span> is a production of the <b>JTA Group&#0153;</b>.</p>

        </div>

        <div class="tab-pane" id="mission">
            <h1>Colorado <b>Fashion</b> Week <b>Mission</b></h1>
            <p><span class="cfw-name">COLORADO <b>FASHION</b> WEEK</span> is the premier fashion industry trade and marketing event dedicated to building an economically sustainable and a highly respected professional fashion industry in Colorado.</p>
        </div>

        <div class="tab-pane" id="agenda">

            <h1>Colorado <b>Fashion</b> Week Strategic <b>Vision</b></h1>
            <ul>
                <li>To position Colorado as the fashion capital of the Rockies.</li>
                <li>To present one highly centralized and professionally organized fashion industry event in Colorado.</li>

                    <li>To purposefully produce and promote the strongest future generation of fashion industry professionals.</li>
                <li>To exist as the career launching pad for the very serious emerging fashion designer and creative talent.   </li>

                <li>To achieve these projected goals by strategically inviting emerging and established designers known for their cutting edge approaches to the business of fashion, beauty and innovation in design.</li>
            </ul>
        </div>

        <div class="tab-pane" id="contact">
            <h1><b>Contact</b> Colorado <b>Fashion</b> Week</h1>
            <p>Email <a href="mailto:info@coloradofashionweek.co">info@coloradofashionweek.co</a> </p>
        </div>

        <div class="tab-pane" id="jta">
            <h1>The <b>JTA</b> Group</h1>
            <h3>WHO WE ARE</h3>
                <p>We are a one stop creative Agency that exists to defy categorization.</p>
                <p>we are neither this nor that… we just do a lot of things very, very, very well…</p>
                <p>we are simply the JTA Group </p>
            <p></p>
                <p>we are very passionate about strategic talent development.</p>
                <p>we are very inquisitive about effective artists management.</p>
                <p>we are personal branding &amp; unrelenting creative marketing junkies.</p>

                <p>we are obsessed with fashion, entertainment, lifestyle events design &amp; production.</p>
                <p>we are fashion pr campaign &amp; marketing advocates.</p>
                <p></p>
                <p>we are simply the <b>JTA Group.</b></p>
                <p></p>
                <p>Learn More here:</p>
            <ul>
                <li>JTA Official Social Network site | <a href="www.jmodelsandtalent.ning.com"><b>www.jmodelsandtalent.ning.com</b></a></li>
                <li>Official Talent Development School | <a href="www.jschoolcreativetalent.ning.com"><b>www.jschoolcreativetalent.ning.com</b></a></li>
                <li>Facebook | <a href="https://www.facebook.com/justice.k.kwarteng"><b>https://www.facebook.com/justice.k.kwarteng</b></a></li>
                <li>Twittter | <a href="https://twitter.com/TheJTAGROUP"><b>@TheJTAGroup</b></a></li>
            </ul>

            <h1>Clients</h1>
            <div >
                <a href="http://www.konplott.com/" target="_blank"><h3><b>Red</b> Ball Denver</h3></a>
            </div>
            <div >
                <a href="http://www.coloradofashionweek.co/"><h3>Colorado <b>Fashion</b> Week</h3></a>
            </div>
            <div >
                <a href="http://www.konplott.com/" target="_blank"><h3><b>Collage</b> Magazine</h3></a>
            </div>
            <div >
                <a href="http://www.konplott.com/" target="_blank"><h3><b>KONPLOTT</b> Jewelry by <b>MIRANDA KO</b></h3></a>
            </div>
            <div >
                <a href="http://ErgunTercanHair.com" target="_blank"><h3><b>Ergun</b> Tercan European Hair Salon</h3></a>
            </div>
            <div >
                <a href="" target="_blank"><h3>R. Stafford/David Glover for Kevin Murphy <b>Hair Products of Australia</b></h3></a>
            </div>
            <div >
                <a href="" target="_blank"><h3><b>JOICO &amp; ISO </b> Hair Products and Systems</h3></a>
            </div>
            <div >
                <a href="" target="_blank"><h3><b>Erin Sturga</b> Photography + Design</h3></a>
            </div>
            <div >
                <a href="http://adornyourguests.com/" target="_blank"><h3><b>ADORN </b></h3></a>
            </div>
            <div >
                <h3>Front Range <b>Prototypes</b>, LLC</h3>
            </div>
            <div >
                <h3>T-Bar <b>Lingerie</b> Boutique</h3>
            </div>
            <div >
                <h3><b>Dragonfly</b> Boutique</h3>
            </div>
            <div >
                <h3>Ohio <b>Knitting</b> Mills</h3>
            </div>
            <div >
                <h3>James S. <b>Designs</b></h3>
            </div>
            <div >
                <h3>Verve <b>Apparel</b></h3>
            </div>
            <div >
                <h3><b>Fashion</b> Denver</h3>
            </div>
            <div >
                <h3><b>MAKE</b> Clothing Co.</h3>
            </div>
            <div >
                <h3>Laura Henson <b>Design</b></h3>
            </div>
            <div >
                <h3>Rick Cummings <b>Photo</b></h3>
            </div>
            <div >
                <h3>Beyond Boulder by <b>Elsa</b></h3>
            </div>
            <div >
                <h3><b>Verve</b> by Christian Griffith</h3>
            </div>
            <div >
                <h3><b>DeKonstruckTed</b> by Justice</h3>
            </div>
            <div >
                <h3>Erin Sturga Photo + <b>Design</b></h3>
            </div>
            <div >
                <h3><b>Metzger</b> and Associates and more</h3>
            </div>
            <div >
                <h3>Kimono <b>Dragons</b> by Francis Roces</h3>
            </div>
            <div >
                <h3>Chasing Rainbows by <b>Taryn Slawson</b></h3>
            </div>
            <div >
                <h3>Fake <b>Diamonds</b></h3>
            </div>
            <div >
                <h3><b>Shibby</b> &amp; Collos</h3>
            </div>
            <div >
                <h3>The <b>Gro</b> Project</h3>
            </div>
        </div>
    </div>
    <h3 class="pull-right"><a ng-click="goToTop()">Back to <b>top</b></a></h3>
</div>
<script>
    $('.nav-tabs>li>a').click(function (e) {
        e.preventDefault();
    })
</script>