<div class="content">
    <ul id="aboutTabs" class="nav nav-tabs">
        <li class="active"><a href="#about" role="tab" data-toggle="tab">About CFW</a></li>
        <li><a href="#mission" role="tab" data-toggle="tab">Mission</a> </li>
        <li><a href="#agenda" role="tab" data-toggle="tab">Agenda</a> </li>
        <li><a href="#contact" role="tab" data-toggle="tab">Contact</a> </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="about">
            <p><span class="cfw-name">COLORADO <b>FASHION</b> WEEK</span> is the premier fashion industry trade and marketing event dedicated to building an economically sustainable and a highly respected professional fashion industry in Colorado.</p>
            <p>Each year, Colorado Fashion Week will present the collections of the most promising emerging and established fashion designers and brands as part of the international fashion business calendar in the beautiful City of Denver, Colorado.  Starting in 2013 CFW will return as a biannual fashion marketing and trade event in April/May and September/October of every year.</p>
            <p>The vision and purpose of Colorado Fashion Week is to build Colorado’s international fashion industry presence as well as elevate Denver’s brand as a City—on the national level;</p>
            <ul>
                <li> To create jobs and promote new business initiatives; to retain in Colorado the incredible emerging fashion industry talent we often loose to the more established fashion industry markets like New York City, London, Paris and Milan;</li>
                <li>To provide both the state of Colorado and the City of Denver the necessary foundational elements it requires to effectively position itself as the fashion capital of the West and Middle America.</li>
            </ul>
            <p>In Colorado Fashion Week’s inaugural year, we presented eight different fashion designers and one boutique with a combined total of over 225 garments going down the runway and more than 1,200 spectators attending throughout the week.   </p>
            <p>For CFW 2013, we anticipate an even greater production value level and a much higher turn out.  Our committed sponsors of CFW 2013 include Seawell Grand Ballroom at the Denver Center for the Arts, JW Marriott at Cherry Creek, Telemundo, RoofStar Colorado, GlowMundo and Collage Magazine. </p>
        </div>

        <div class="tab-pane" id="mission">
            Mission
        </div>

        <div class="tab-pane" id="agenda">
            Agenda
        </div>

        <div class="tab-pane" id="contact">
            Contact
        </div>
    </div>
    <h1><b>About</b> Colorado <b>Fashion</b> Week</h1>
</div>