<div class="content clients">
    <h1>Colorado <b>Fashion</b> Week <b>Clients</b></h1>
    <div class="pull-left">
        <a href="http://www.dlolacouture.com/"><h2>D'Lola <b>Couture</b> by Deedee <b>Vicory</b></h2></a>
    </div>
    <div class="pull-left">
        <a href="http://barrerafashion.blogspot.com/"><h2>Barrera <b>Fashion</b> International</h2></a>
    </div>
    <div class="pull-left">
        <a href="http://lunaclaire.com/"><h2>Luna Claire <b>Apparel</b> Company</h2></a>
    </div>
    <div class="pull-left">
        <a href="http://ginovelardi.com/"><h2><b></b></h2></a>
    </div>
    <div class="pull-left">
        <a href=""><h2><b>Gino</b> Velardi <b>Designs</b></h2></a>
    </div>
    <div class="pull-left">
        <a href="http://lifewearcouture.com/"><h2>Blue Fish + <b>Element V</b></h2></a>
    </div>
    <div class="pull-left">
        <a href="http://johannachristine.com/"><h2><b>Johanna Christine</b> Clothing</h2></a>
    </div>
    <div class="pull-left">
        <a href=""><h2><b></b></h2></a>
    </div>
    <div class="pull-left">
        <a href=""><h2><b></b></h2></a>
    </div>
    <div class="pull-left">
        <a href=""><h2><b></b></h2></a>
    </div>
    <div class="pull-left">
        <a href=""><h2><b></b></h2></a>
    </div>
    <div class="pull-left">
        <a href=""><h2><b></b></h2></a>
    </div>
    <div class="pull-left">
        <a href=""><h2><b></b></h2></a>
    </div>
    <div class="pull-left">
        <a href=""><h2><b></b></h2></a>
    </div>
    <div class="pull-left">
        <a href=""><h2><b></b></h2></a>
    </div>
</div>