<div class="content clients">
    <h1>Colorado <b>Fashion</b> Week <b>Designers</b></h1>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#"> 2011</a></li>
        <li><a class="disabled">2012</a> </li>
        <li><a class="disabled">2013</a> </li>
        <li><a class="disabled">2014</a> </li>
    </ul>
    <div>
        <a href="http://www.dlolacouture.com/"><h2>D'Lola <b>Couture</b> by Deedee <b>Vicory</b></h2></a>
    </div>
    <div>
        <a href="http://barrerafashion.blogspot.com/"><h2>Barrera <b>Fashion</b> International</h2></a>
    </div>
    <div>
        <a href="http://lunaclaire.com/"><h2>Luna Claire <b>Apparel</b> Company</h2></a>
    </div>
    <div>
        <a href="http://ginovelardi.com/"><h2><b></b></h2></a>
    </div>
    <div>
        <a href=""><h2><b>Gino</b> Velardi <b>Designs</b></h2></a>
    </div>
    <div>
        <a href="http://lifewearcouture.com/"><h2>Blue Fish + <b>Element V</b></h2></a>
    </div>
    <div>
        <a href="http://johannachristine.com/"><h2><b>Johanna Christine</b> Clothing</h2></a>
    </div>
    <div>
        <a href="http://fashionsbyraemarie.com/"><h2><b>Fashion</b> House of <b>Rae Marie</b></h2></a>
    </div>
    <div>
        <a href="http://www.dannenmann-pure.com/"><h2>Dannemann <b>Pure</b></h2></a>
    </div>
    <!--div class="pull-left">
        <a href=""><h2><b></b></h2></a>
    </div>
    <div class="pull-left">
        <a href=""><h2><b></b></h2></a>
    </div>
    <div class="pull-left">
        <a href=""><h2><b></b></h2></a>
    </div>
    <div class="pull-left">
        <a href=""><h2><b></b></h2></a>
    </div>
    <div class="pull-left">
        <a href=""><h2><b></b></h2></a>
    </div>
    <div class="pull-left">
        <a href=""><h2><b></b></h2></a>
    </div-->
</div>