<div class="content clients">
    <h1>Colorado <b>Fashion</b> Week <b>Designers</b></h1>
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#2011" role="tab" data-toggle="tab"> 2011</a></li>
        <li><a href="#2012" role="tab" data-toggle="tab">2012</a> </li>
        <li><a href="#2013" role="tab" data-toggle="tab">2013</a> </li>
        <li><a href="#2014" role="tab" data-toggle="tab">2014</a> </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="2011">
            <div>
                <a href="http://www.dlolacouture.com/"><h2>D'Lola <b>Couture</b> by Deedee <b>Vicory</b></h2></a>
            </div>
            <div>
                <a href="http://barrerafashion.blogspot.com/"><h2>Barrera <b>Fashion</b> International</h2></a>
            </div>
            <div>
                <a href="http://lunaclaire.com/"><h2>Luna Claire <b>Apparel</b> Company</h2></a>
            </div>
            <div>
                <a href="http://ginovelardi.com/"><h2><b></b></h2></a>
            </div>
            <div>
                <a href=""><h2><b>Gino</b> Velardi <b>Designs</b></h2></a>
            </div>
            <div>
                <a href="http://lifewearcouture.com/"><h2>Blue Fish + <b>Element V</b></h2></a>
            </div>
            <div>
                <a href="http://johannachristine.com/"><h2><b>Johanna Christine</b> Clothing</h2></a>
            </div>
            <div>
                <a href="http://fashionsbyraemarie.com/"><h2><b>Fashion</b> House of <b>Rae Marie</b></h2></a>
            </div>
            <div>
                <a href="http://www.dannenmann-pure.com/"><h2>Dannemann <b>Pure</b></h2></a>
            </div>
            <div >
               <a href="http://mycommonera.com"> <h2>Common Era <b>Boutique</b></h2></a>
            </div>
        </div>

        <div class="tab-pane fade" id="2012">
            <h2>Coming Soon</h2>
        </div>
        <div class="tab-pane fade" id="2013">
            <h2>Coming Soon</h2>
        </div>
        <div class="tab-pane fade" id="2014">
            <h2>Coming Soon</h2>
        </div>
    </div>
</div>
<script>
    $('.nav-tabs>li>a').click(function (e) {
        e.preventDefault();
    })
</script>