<div class="content clients">
    <h1>Colorado <b>Fashion</b> Week <b>Designers</b></h1>
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#2014" role="tab" data-toggle="tab">2014</a> </li>
        <li><a href="#2013" role="tab" data-toggle="tab">2013</a> </li>
        <li><a href="#2012" role="tab" data-toggle="tab">2012</a> </li>
        <li><a href="#2011" role="tab" data-toggle="tab"> 2011</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade" id="2011">
            <div>
                <a href="http://www.dlolacouture.com/" target="_blank"><h3>D'Lola <b>Couture</b> by Deedee <b>Vicory</b></h3></a>
            </div>
            <div>
                <a href="http://barrerafashion.blogspot.com/" target="_blank"><h3>Barrera <b>Fashion</b> International</h3></a>
            </div>
            <div>
                <a href="http://lunaclaire.com/" target="_blank"><h3>Luna Claire <b>Apparel</b> Company</h3></a>
            </div>
            <div>
                <a href="http://ginovelardi.com/" target="_blank"><h3><b>Gino</b> Velardi <b>Designs</b></h3></a>
            </div>
            <div>
                <a href="http://lifewearcouture.com/" target="_blank"><h3>Blue Fish + <b>Element V</b></h3></a>
            </div>
            <div>
                <a href="http://johannachristine.com/" target="_blank"><h3><b>Johanna Christine</b> Clothing</h3></a>
            </div>
            <div>
                <a href="http://fashionsbyraemarie.com/" target="_blank"><h3><b>Fashion</b> House of <b>Rae Marie</b></h3></a>
            </div>
            <div>
                <a href="http://www.dannenmann-pure.com/" target="_blank"><h3>Dannemann <b>Pure</b></h3></a>
            </div>
            <div >
               <a href="http://mycommonera.com" target="_blank"> <h3>Common Era <b>Boutique</b></h3></a>
            </div>
        </div>

        <div class="tab-pane fade" id="2012">
            <div>
                <a href="https://www.facebook.com/PIM.era" target="_blank"><h3><b>PIM</b> era</h3></a>
            </div>
            <div>
                <a href="https://www.facebook.com/MarissaLunden" target="_blank"><h3>Marissa <b>Lundeen</b></h3></a>
            </div>
            <div>
                <a href="http://www.verrettaandersen.com/" target="_blank"><h3><b>Verretta</b> Anderson</h3></a>
            </div>
            <div>
                <!--a href="http://ginovelardi.com/" target="_blank"--><h3>Circle of Hands: Hand Made <b>Jewelry</b></h3><!--/a-->
            </div>
            <div>
                <a href="http://www.nyndiadiligent.com/" target="_blank"><h3>Nyndia <b>Diligent</b></h3></a>
            </div>
            <div>
                <a href="http://calliroche.com/" target="_blank"><h3>Calli<b>Roche</b></h3></a>
            </div>
            <div>
                <a href="http://www.parasitevedesign.com/" target="_blank"><h3>Parasite <b>Eve</b></h3></a>
            </div>
            <div>
                <a href="http://www.goorin.com/" target="_blank"><h3><b>Goorin</b> Bros Hat Shop</h3></a>
            </div>
            <div >
                <a href="http://mkaltenbach.com/" target="_blank"> <h3>Megan Kaltenbach <b>Jewelry</b></h3></a>
            </div>
            <div >
                <a href="http://greysunshine.com/about//" target="_blank"> <h3>Dana Van Daele of Grey Sunshine <b>Hand Bags</b></h3></a>
            </div>
            <div >
                <a href="http://www.carolmierfashion.com/" target="_blank"> <h3>Carol <b>Mier</b></h3></a>
            </div>
            <div >
                <a href="http://www.rachelmariehurst.com/" target="_blank"> <h3>The <b>Fashion</b> House of Rae Marie</h3></a>
            </div>
            <div >
                <a href="https://www.facebook.com/jumpofJoy" target="_blank"> <h3>Jump of <b>Joy</b></h3></a>
            </div>
            <div >
                <a href="https://www.facebook.com/ekizbyjc" target="_blank"> <h3>Carlos <b>Melendez</b></h3></a>
            </div>
            <div >
                <a href="http://indashio.com/" target="_blank"> <h3><b>Indashio</b></h3></a>
            </div>
            <div>
                <!--a href="http://ginovelardi.com/" target="_blank"--><h3>Justice K <b>International</b> Collections</h3><!--/a-->
            </div>
            <div>
                <!--a href="http://ginovelardi.com/" target="_blank"--><h3><b>Ada</b></h3><!--/a-->
            </div>
            <div>
                <!--a href="http://ginovelardi.com/" target="_blank"--><h3>Sam <b>Martinucchi</b></h3><!--/a-->
            </div>
        </div>
        <div class="tab-pane fade" id="2013">
            <div>
                <a href="http://www.nicholasanthonyclothing.com/" target="_blank"><h3>Nicholas Anthony <b>Clothing</b></h3></a>
            </div>
            <div>
                <a href="https://www.facebook.com/RobbiSayuriCollections" target="_blank"><h3>Robbi <b>Sayuri</b> Collections</h3></a>
            </div>
            <div>
                <a href="http://indi-apparel.com/" target="_blank"><h3>Indi-<b>Apparel</b></h3></a>
            </div>
        </div>
        <div class="tab-pane fade in active" id="2014">
            <div>
                <a href="https://www.facebook.com/Lotticlothes" target="_blank"><h3><b>Lotti</b> by Amy Cabrera</h3></a>
            </div>
            <div>
                <a href="https://www.facebook.com/pages/Shayne-Watson-Designs/462771213789995" target="_blank"><h3>Shayne <b>Watson</b></h3></a>
            </div>
            <div>
                <a href="http://www.stitchboutiquedenver.com/" target="_blank"><h3>Stitch <b>Boutique</b></h3></a>
            </div>
            <div>
                <!--a href="" target="_blank"--><h3><b>Sarah</b> Ake</h3><!--/a-->
            </div>
            <div>
                <a href="http://www.shaneco.com/" target="_blank"><h3><b>Shane</b> Co.</h3></a>
            </div>
            <div>
                <!--a href="" target="_blank"--><h3>KatyBelle <b>Boutique</b></h3><!--/a-->
            </div>
            <div>
                <a href="http://www.hilarymacmillan.com/" target="_blank"><h3><b>Hilary</b> Macmillan</h3></a>
            </div>
            <div>
                <a href="http://www.arturorios.com/" target="_blank"><h3>Arturo <b>Rios</b></h3></a>
            </div>
        </div>
    </div>
</div>
<script>
    $('.nav-tabs>li>a').click(function (e) {
        e.preventDefault();
    })
</script>