<div class="content">
    <h1>Colorado <b>Fashion</b> Week <b>Events</b></h1>
    <ul class="nav nav-tabs" role="tablist">
        <li><a>October</a></li>
        <li class="active"><a href="#3" role="tab" data-toggle="tab">3rd</a> </li>
        <li><a href="#4" role="tab" data-toggle="tab">4th</a> </li>
        <!--li><a href="#2012" role="tab" data-toggle="tab">2012</a> </li>
        <li><a href="#2011" role="tab" data-toggle="tab"> 2011</a></li-->
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="3">
            <h1><b>MASTERS</b> OF HAIR SHOW </h1>
            <h3><b>@</b> <a target="_blank" href="https://www.google.com/maps/place/Colorado+State+University/@40.573436,-105.086547,17z/data=!3m1!4b1!4m2!3m1!1s0x87694a33ecd69ba9:0x45d252500a3e2f11">CSU Denver</a></h3>
            <dl>
                <dt>10am</dt>
                <dd>Venue set up: organizers, lighting, sound system, vendors booth</dd>
                <dt>11am</dt>
                <dd>Model call</dd>
                <dt>11am - 12pm</dt>
                <dd>Fittings</dd>
                <dt>12pm - 1:30pm</dt>
                <dd>Dress rehearsal</dd>
                <dt>1:30pm - 2pm</dt>
                <dd>Lunch break</dd>
                <dt>2pm</dt>
                <dd>
                    <ul>
                        <li>Beauty team call</li>
                        <li>Models start getting ready</li>
                    </ul>
                </dd>
                <dt>6pm</dt>
                <dd>Doors open to the public</dd>
                <dt>7:30pm - 8pm</dt>
                <dd>Seating for Runway Show</dd>
                <dt>8pm - 8:30pm</dt>
                <dd>Runway Presentation 1, 2, 3</dd>
                <dt>8:30pm - 9pm</dt>
                <dd>Runway Presentations 3, 4, 5</dd>
            </dl>
            <h1><b>Salons</b> Presentation</h1>
            <div class="row">
                <div class="col-md-4">
                    <h3><b>1st</b> Presentation</h3>
                    <dl>
                        <dt>Salon</dt>
                        <dd>The Electric Chair</dd>
                        <dt>Represented by</dt>
                        <dd>Melissa</dd>
                        <dt>Models</dt>
                        <dd>6</dd>
                        <dt>Looks</dt>
                        <dd>Geometric, High Energy</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <h3><b>2nd</b> Presentation</h3>
                    <dl>
                        <dt>Salon</dt>
                        <dd>Boston Priest</dd>
                        <dt>Represented by</dt>
                        <dd>Boston</dd>
                        <dt>Models</dt>
                        <dd>6</dd>
                        <dt>Looks</dt>
                        <dd>?</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <h3><b>3rd</b> Presentation</h3>
                    <dl>
                        <dt>Salon</dt>
                        <dd>Nik Monroe</dd>
                        <dt>Represented by</dt>
                        <dd>Nik</dd>
                        <dt>Models</dt>
                        <dd>6</dd>
                        <dt>Looks</dt>
                        <dd>Rock Billy, Edgy, Tattoos, Males</dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3><b>4th</b> Presentation</h3>
                    <dl>
                        <dt>Salon</dt>
                        <dd>Belle and Beau</dd>
                        <dt>Represented by</dt>
                        <dd>Jared</dd>
                        <dt>Models</dt>
                        <dd>6</dd>
                        <dt>Looks</dt>
                        <dd>?</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <h3><b>5th</b> Presentation</h3>
                    <dl>
                        <dt>Salon</dt>
                        <dd>Altitude Salon</dd>
                        <dt>Represented by</dt>
                        <dd>Mindy</dd>
                        <dt>Models</dt>
                        <dd>6</dd>
                        <dt>Looks</dt>
                        <dd>Up dos</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <h3><b>6th</b> Presentation</h3>
                    <dl>
                        <dt>Salon</dt>
                        <dd>Swagger Salon</dd>
                        <dt>Represented by</dt>
                        <dd>Andrew</dd>
                        <dt>Models</dt>
                        <dd>6</dd>
                        <dt>Looks</dt>
                        <dd>Avan Garde, Edgy, Tattoos</dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="4">
            <h1><b>Runway</b> Schedule</h1>
            <h3><b>@</b> <a href="https://www.google.com/maps/place/Four+Seasons+Hotel+Denver/@39.746521,-104.998028,17z/data=!3m1!4b1!4m2!3m1!1s0x876c78cf8e4d6c57:0x8b9588a0a023fc4c" target="_blank"> the Four Seasons</a></h3>
            <dl>
                <dt>10am</dt>
                <dd>Venue set up: organizers, lighting, sound system, vendors booth</dd>
                <dt>11am</dt>
                <dd>Model call</dd>
                <dt>11am - 12pm</dt>
                <dd>Fittings</dd>
                <dt>12pm - 1:30pm</dt>
                <dd>Dress rehearsal</dd>
                <dt>1:30pm - 2pm</dt>
                <dd>Lunch break</dd>
                <dt>2pm</dt>
                <dd>
                    <ul>
                        <li>Beauty team call</li>
                        <li>Models start getting ready</li>
                    </ul>
                </dd>
                <dt>6pm</dt>
                <dd>
                    <ul>
                        <li>Doors open to the public</li>
                        <li>Fashion Market begins</li>
                    </ul>
                </dd>
                <dt>8pm - 8:30pm</dt>
                <dd>Seating for Fashion Runway Show</dd>
                <dt>8:30pm - 9pm</dt>
                <dd>Runway Presentation 1, 2, 3</dd>
                <dt>9pm - 9:30pm</dt>
                <dd>Runway Presentations 3, 4, 5</dd>
            </dl>
            <h1>Runway Presentation</h1>
            <div class="row">
                <div class="col-md-4">
                    <h3><b>1st</b> Runway Presentation</h3>
                    <dl>
                        <dt>Label</dt>
                        <dd>Shayne Watson S/S + A/W Collections </dd>
                        <dt>Designer</dt>
                        <dd>Shayne Watson</dd>
                        <dt>Label HQ</dt>
                        <dd>an Arizona-based label</dd>
                        <dt>Models</dt>
                        <dd>8</dd>
                        <dt>Looks</dt>
                        <dd>About 12</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <h3><b>2nd</b> Runway Presentation</h3>
                    <dl>
                        <dt>Label</dt>
                        <dd>Sarah Ake</dd>
                        <dt>Designer</dt>
                        <dd>Sarah Ake</dd>
                        <dt>Label HQ</dt>
                        <dd>Los Angeles, CA</dd>
                        <dt>Models</dt>
                        <dd>6</dd>
                        <dt>Looks</dt>
                        <dd>About 6</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <h3><b>3rd</b> Runway Presentation</h3>
                    <dl>
                        <dt>Label</dt>
                        <dd>Stitch Boutique</dd>
                        <dt>Designer</dt>
                        <dd>Various Designers</dd>
                        <dt>Label HQ</dt>
                        <dd>Denver, CO</dd>
                        <dt>Models</dt>
                        <dd>8</dd>
                        <dt>Looks</dt>
                        <dd>?</dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3><b>4th</b> Runway Presentation</h3>
                    <dl>
                        <dt>Label</dt>
                        <dd>Lotti by Amy Cabrera</dd>
                        <dt>Designer</dt>
                        <dd>Amy Cabrera</dd>
                        <dt>Label HQ</dt>
                        <dd>Denver, CO</dd>
                        <dt>Models</dt>
                        <dd>8</dd>
                        <dt>Looks</dt>
                        <dd>About 8</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <h3><b>5th</b> Runway Presentation</h3>
                    <dl>
                        <dt>Label</dt>
                        <dd>Shane Co.</dd>
                        <dt>Designer</dt>
                        <dd>Various Designers</dd>
                        <dt>Label HQ</dt>
                        <dd>Denver, CO</dd>
                        <dt>Models</dt>
                        <dd>15</dd>
                        <dt>Looks</dt>
                        <dd>?</dd>
                    </dl>
                </div>
                <!--div class="col-md-4">
                    <h3><b>6th</b> Runway Presentation</h3>
                    <dl>
                        <dt>Label</dt>
                        <dd>Stitch Boutique</dd>
                        <dt>Designer</dt>
                        <dd>Various Designers</dd>
                        <dt>Label HQ</dt>
                        <dd>Denver, CO</dd>
                        <dt>Models</dt>
                        <dd>8</dd>
                        <dt>Looks</dt>
                        <dd>?</dd>
                    </dl>
                </div-->
            </div>
        </div>
    </div>

</div>

<script>
    $('.nav-tabs>li>a').click(function (e) {
        e.preventDefault();
    })
</script>