<div class="content">
    <h1>Colorado <b>Fashion</b> Week <b>Events</b></h1>
    <ul class="nav nav-tabs" role="tablist">
        <li><a>October</a></li>
        <li class="active"><a href="#3" role="tab" data-toggle="tab">3rd</a> </li>
        <li><a href="#4" role="tab" data-toggle="tab">4th</a> </li>
        <li><a href="#7" role="tab" data-toggle="tab">7th</a> </li>
        <!--li><a href="#2011" role="tab" data-toggle="tab"> 2011</a></li-->
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="3">
            <h1><b>MASTERS</b> OF HAIR + MAKEUP ARTISTRY SHOW</h1>
            <h3><b>@</b> <a target="_blank" href="https://www.google.com/maps/place/Colorado+State+University/@40.573436,-105.086547,17z/data=!3m1!4b1!4m2!3m1!1s0x87694a33ecd69ba9:0x45d252500a3e2f11">CSU Denver</a></h3>
            <dl>
                <dt>6pm</dt>
                <dd>
                    <ul>
                        <li>Doors open to the public</li>
                        <li>Cocktail Party</li>
                    </ul>
                </dd>
                <dt>8pm</dt>
                <dd>Runway Presentation for the Master's of Hair + Make Up Artistry Show</dd>
            </dl>
            <h1><b>Featured</b> Salons in order of appearance</h1>
            <div class="row">
                <div class="col-md-3">
                    <h3><b>1st</b> Salon Presentation</h3>
                    <h2>The Electric Chair</h2>
                </div>
                <div class="col-md-3">
                    <h3><b>2nd</b> Salon Presentation</h3>
                        <h2><a href="https://www.facebook.com/boston.priest.9">Boston Priest</a></h2>
                </div>
                <div class="col-md-3">
                    <h3><b>3rd</b> Salon Presentation</h3>
                    <h2><a href="http://www.getsomeswagger.com/">Swagger Salon</a></h2>
                </div>
                <div class="col-md-3">
                    <h3><b>4th</b> Salon Presentation</h3>
                    <h2>Nik Monroe | the men's look presentation</h2>
                    <h2>Nik Monroe | the Ikandi Models presentation</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h3><b>5th</b> Salon Presentation</h3>
                    <h2><a href="http://www.threecutters.com/">Three Cutters on Pearl</a></h2>
                </div>
                <div class="col-md-3">
                    <h3><b>6th</b> Salon Presentation</h3>
                    <h2><a href="http://www.belleandbeausalon.com/">Belle and Beau</a></h2>
                </div>
                <div class="col-md-3">
                    <h3><b>7th</b> Salon Presentation</h3>
                    <h2><a href="http://altitudesalon.com/">Altitude Salon</a></h2>
                </div>
                <div class="col-md-3">
                    <h3><b>8th</b> Salon Presentation</h3>
                    <h2>Mandrete by DJ</h2>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="4">
            <h1><b>Runway</b> Schedule</h1>
            <h3><b>@</b> <a href="https://www.google.com/maps/place/Four+Seasons+Hotel+Denver/@39.746521,-104.998028,17z/data=!3m1!4b1!4m2!3m1!1s0x876c78cf8e4d6c57:0x8b9588a0a023fc4c" target="_blank"> the Four Seasons</a></h3>
            <dl>
                <dt>6pm</dt>
                <dd>
                    <ul>
                        <li><span class="cfw-name">Colorado <b>Fashion</b> Week</span> Cocktail Hour </li>
                        <li><span class="cfw-name">FASHION <b>SHOPPING</b> MARKET</span>
                            <p>Enjoy a drink, and visit our vendors at the Fashion Market! Each designer
                                featured in the runway will have their collections and products for sale
                                before and after the runway presentations.</p>
                        </li>
                    </ul>
                </dd>
                <dt>8pm</dt>
                <dd>Seating for Fashion Runway Show begins</dd>
                <dt>8:30pm </dt>
                <dd>Runway Presentations Officially Begin</dd>
            </dl>
            <h1><b>FEATURED</b> Designers in order of appearance</h1>
            <div class="row">
                <div class="col-md-3">
                    <h3><b>1st</b> Runway Presentation</h3>
                    <h2>Arturo Rios</h2>
                    <h4>los angeles, ca</h4>
                </div>
                <div class="col-md-3">
                    <h3><b>2nd</b> Runway Presentation</h3>
                    <h2>Lotti by Amy Cabrera</h2>
                    <h4>denver, co</h4>
                </div>
                <div class="col-md-3">
                    <h3><b>3rd</b> Runway Presentation</h3>
                    <h2>Stitch Boutique</h2>
                    <h4>highlands, co</h4>
                </div>
                <div class="col-md-3">
                    <h3><b>4th</b> Runway Presentation</h3>
                    <h2>Sarah Ake</h2>
                    <h4>los angeles, co</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h3><b>5th</b> Runway Presentation</h3>
                    <h2>Shayne Watson</h2>
                    <h4>arizona</h4>
                </div>
                <div class="col-md-3">
                    <h3><b>6th</b> Runway Presentation</h3>
                    <h2>KatyBelle Boutique</h2>
                    <h4>denver, co</h4>
                </div>
                <div class="col-md-3">
                    <h3><b>7th</b> Runway Presentation</h3>
                    <h2>Milary MacMillan</h2>
                    <h4>toronto, canada</h4>
                </div>
                <div class="col-md-3">
                    <h3><b>8th</b> Runway Presentation</h3>
                    <h2>Shane Co | Headlining Designer</h2>
                    <h4>denver, co</h4>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="7">
            <h1><b>Special Runway</b> Presentation</h1>
            <h3><b>@</b> <a href="https://www.google.com/maps/place/Lannie's+Clocktower+Cabaret/@39.748107,-104.99568,17z/data=!3m1!4b1!4m2!3m1!1s0x876c78da95cc2601:0xfe51c26db18b5788">Lannie's Clocktower Cabaret</a> </h3>
            <dl>
                <dt>7pm</dt>
                <dd>Doors open to public</dd>
                <dt>8pm</dt>
                <dd>Runway presentation begins</dd>
            </dl>
            <h4>Colorado <b>Fashion</b> Week <b>2014</b> presents:</h4>
            <div style="text-align: center">
                <h3>the Ira Sherman</h3>
                <h1><b>CHASTITY COUTURE</b>:</h1>
                <h2>STEAMPUNK MEDIEVAL FASHION SHOW</h2>
            </div>
        </div>
    </div>

</div>

<script>
    $('.nav-tabs>li>a').click(function (e) {
        e.preventDefault();
    })
</script>