<div class="cover-container" style="">
    <div class="inner cover">
        <h1 class="cover-heading">October <b>1st - 7th</b> <span style="font-size: 100px">2014</span></h1>
        <!--p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p-->

    </div>
    <p class="lead">
        <a href="http://coloradofashionweek.eventbrite.com" class="btn btn-lg btn-default" target="_blank">Buy Tickets</a>
    </p>
</div>