<div class="content">
    <h1>Colorado <b>Fashion</b> Week <b>Partners</b></h1>

    <ul class="nav nav-tabs" role="tablist">
        <li><a href="#2013" role="tab" data-toggle="tab">2013</a> </li>
        <li class="active"><a href="#2014" role="tab" data-toggle="tab">2014</a> </li>
    </ul>

    <div class="tab-content" style="margin-top: 15px">
        <div class="tab-pane fade" id="2013">
            <div class="container-fluid collage">
                <div class="row">
                    <div class="col-md-4">
                        <a href="http://www.walkerfineart.com/" target="_blank">
                            <img src="./media/img/sponsors/2013/CFW_SPONSORS_2013-01.jpg" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://www.lodo.org/" target="_blank">
                            <img src="./media/img/sponsors/2013/CFW_SPONSORS_2013-03.jpg" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://www.drinkmilehighspirits.com/" target="_blank">
                            <img src="./media/img/sponsors/2013/CFW_SPONSORS_2013-04.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <a href="https://maicouture.com/" target="_blank">
                            <img src="./media/img/sponsors/2013/CFW_SPONSORS_2013-05.jpg" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://www.flor.com/" target="_blank">
                            <img src="./media/img/sponsors/2013/CFW_SPONSORS_2013-06.jpg" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://theoxfordhotel.com/" target="_blank">
                            <img src="./media/img/sponsors/2013/CFW_SPONSORS_2013-07.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <a href="https://roofstarcolorado.com/" target="_blank">
                            <img src="./media/img/sponsors/2013/CFW_SPONSORS_2013-08.jpg" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://www.cedricprideentertainment.com/" target="_blank">
                            <img src="./media/img/sponsors/2013/CFW_SPONSORS_2013-09.jpg" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://www.apricotlaneusa.com/" target="_blank">
                            <img src="./media/img/sponsors/2013/CFW_SPONSORS_2013-10.jpg" class="img-responsive" style="margin-top: 50px" />
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <a href="http://www.mccormickandschmicks.com/Locations/denver-colorado/denver-colorado/wazee.aspx" target="_blank">
                            <img src="./media/img/sponsors/2013/CFW_SPONSORS_2013-11.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade in active" id="2014">
            <div class="container-fluid collage">
                <div class="row">
                    <div class="col-md-4">
                        <a href="https://www.uber.com/" target="_blank">
                            <img src="./media/img/sponsors/2013/CFW_SPONSORS_2014-12.jpg" class="img-responsive" style="margin-top: 20px" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="" target="_blank">
                            <img style="margin-top: 10px" src="./media/img/sponsors/2013/CFW_SPONSORS_2014-13.jpg" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://www.lodomassagestudio.com/" target="_blank">
                            <img src="./media/img/sponsors/2013/CFW_SPONSORS_2014-14.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <a href="http://cafemax.net/" target="_blank">
                            <img style="margin-top: 30px" src="./media/img/sponsors/2013/CFW_SPONSORS_2014-21.jpg" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://www.sparrowsvoice.com/" target="_blank">
                            <img style="margin-top: 10px" src="./media/img/sponsors/2013/CFW_SPONSORS_2014-16.jpg" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://artsandvenuesdenver.com/" target="_blank">
                            <img src="./media/img/sponsors/2013/CFW_SPONSORS_2014-17.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <a href="http://www.vuka.com/" target="_blank">
                            <img src="./media/img/sponsors/2013/CFW_SPONSORS_2014-18.jpg" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://www.shaneco.com/" target="_blank">
                            <img style="margin-top: 20px" src="./media/img/sponsors/2013/CFW_SPONSORS_2014-19.jpg" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="" target="_blank">
                            <img src="./media/img/sponsors/2013/CFW_SPONSORS_2014-20.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <a href="" target="_blank">
                            <img src="./media/img/sponsors/2013/CFW_SPONSORS_2014-15.jpg" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://www.cassandramakeupartist.com/" target="_blank">
                            <img style="margin-top: 20px" src="./media/img/sponsors/2013/CFW_SPONSORS_2014-22.jpg" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="" target="_blank">
                            <img src="./media/img/sponsors/2013/CFW_SPONSORS_2014-23.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.nav-tabs>li>a').click(function (e) {
        e.preventDefault();
    })
</script>