<div class="content container-fluid" style="width: auto">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#media" role="tab" data-toggle="tab">In the media</a> </li>
        <li><a href="#press" role="tab" data-toggle="tab">For the press</a> </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="media">
            <h1>Colorado <b>Fashion</b> Week in the <b>Media</b></h1>
            <div class="row">
                <div class="col-lg-6">
                    <a href="http://www.westword.com/slideshow/colorado-fashion-week-behind-the-scenes-37923995/#46" target="_blank"><img src="./media/img/westword.png" class="img-responsive" alt="Westword: Behind the Scenes"></a>
                </div>
                <div class="col-lg-6">
                    <a href="http://www.northdenvertribune.com/2013/10/colorado-fashion-week-wow/" target="_blank"><img src="./media/img/tribune.gif" class="img-responsive" alt="North Denver Tribune: Colorado Fashion Week Wow"> </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <a href="http://blogs.denverpost.com/style/2013/10/06/colorado-fashion-week-showcases-regional-fashion-talent/29410/"><img src="./media/img/denver-post.jpg" class="img-responsive" alt="The Denver Post: Colorado Fashion Week Showcases Regional Fashion Talent" target="_blank"> </a>
                </div>
                <div class="col-lg-6">
                    <a href="http://blogs.westword.com/showandtell/2013/10/colorado_fashion_week_2013_a_m.php" target="_blank"><img src="./media/img/westword.png" class="img-responsive" alt="Westword: Colorado Fashion Week 2013 a marathon for fashion lovers"></a>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="press">
            <h1>Colorado <b>Fashion</b> Week for the <b>Press</b></h1>
            <img src="./media/img/CFW_october_web-01.jpg" class="img-responsive" alt="Save the Date October 1st - 7th">
        </div>
    </div>
</div>
<script>
    $('.nav-tabs>li>a').click(function (e) {
        e.preventDefault();
    })
</script>