<div class="content">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#media" role="tab" data-toggle="tab">In the media</a> </li>
        <li><a href="#press" role="tab" data-toggle="tab">For the press</a> </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="media">
            <h1>Colorado <b>Fashion</b> Week in the <b>Media</b></h1>
            <div class="container-fluid collage">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="http://www.westword.com/slideshow/colorado-fashion-week-behind-the-scenes-37923995/#46" target="_blank">
                            <img src="./media/img/press/westword.png" class="img-responsive westword" alt="Westword: Behind the Scenes">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a href="http://www.northdenvertribune.com/2013/10/colorado-fashion-week-wow/" target="_blank">
                            <img src="./media/img/press/tribune.gif" class="img-responsive" alt="North Denver Tribune: Colorado Fashion Week Wow">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <a href="http://www.firstclassfashionista.com/archives/66252">
                            <img src="./media/img/press/fcfashionista.jpg" class="img-responsive" alt="FC Fashionista: Colorado Fashion Week Preview Market and Fundraiser Showcase" target="_blank">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a href="http://blogs.denverpost.com/style/2013/10/06/colorado-fashion-week-showcases-regional-fashion-talent/29410/">
                            <img src="./media/img/press/denver-post.jpg" class="img-responsive denver-post" alt="The Denver Post: Colorado Fashion Week Showcases Regional Fashion Talent" target="_blank">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <a href="http://www.examiner.com/article/the-3rd-annual-colorado-fashion-week-show-packs-the-oxford-hotel" target="_blank">
                            <img src="./media/img/press/examiner.png" class="img-responsive" alt="Examiner: The 3rd annual Colorado Fashion Week show packs the Oxford Hotel">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a href="http://askmissa.com/2013/09/26/3rd-annual-colorado-fashion-week/" target="_blank">
                            <img src="./media/img/press/askmissa.jpg" class="img-responsive" alt="Ask Miss A: 3rd Annual Colorado Fashion Week">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <a href="http://blogs.denverpost.com/style/2012/10/04/colorado-fashion-week/21341/">
                            <img src="./media/img/press/denver-post.jpg" class="img-responsive" alt="Denver Post: Colorado Fashion Week showcases Mile High talent" target="_blank">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a href="http://blogs.westword.com/showandtell/2013/10/colorado_fashion_week_2013_a_m.php" target="_blank">
                            <img src="./media/img/press/westword.png" class="img-responsive westword" alt="Westword: Colorado Fashion Week 2013 a marathon for fashion lovers">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="press">
            <h1>Colorado <b>Fashion</b> Week for the <b>Press</b></h1>
            <img src="./media/img/CFW_october_web-01.jpg" class="img-responsive" alt="Save the Date October 1st - 7th">
            <img src="./media/img/press/CFW_October_Ad-06.jpg" class="img-responsive" alt="Colorado Fashion Week">
        </div>
    </div>
</div>
<script>
    $('.nav-tabs>li>a').click(function (e) {
        e.preventDefault();
    })
</script>