/*Colors*/
@red: #ff0000;
@white: #ffffff;
@black: #000000;
/*Fonts*/
@bodyFont: 'Josefin Sans', sans-serif;
@headerFont: 'Raleway', Arial, sans-serif;

/*Defaults*/
body{
  background-color: @black;
  font-family: @bodyFont;
}

.lower{
  text-transform: lowercase !important;
}

/*Branding*/
.logo{
  float: left;
}

/*Headers*/
h1,h2,h3,h4,h5,h6,.cfw-name{
  font-weight: 100;
  font-family:@headerFont;
  text-transform: uppercase;
  b{
    color: @red;
    font-weight: normal;
  }
  a{
    cursor: pointer;
  }
}

/*Content*/
.content{
  background: rgba(0,0,0,.6);
  z-index: 999;
  position: absolute;
  top: 100px;
  width: 60%;
  padding: 60px;
  margin: 0 25%;
  text-shadow: none;
  &.social{
    width: 100%;
    margin: 0;
  }
}

p{
  font-size: 17px;
}

/*Tabs*/
.nav-tabs>li{
  text-transform: uppercase;
  font-family:@bodyFont;
  font-weight: 900;
  margin: auto 5%;
  font-size: 18px;

  &>a{
    margin-right: 0;
    border: none;
    &:hover{
      background: none;
      border: none;
      text-shadow: 0 0 4px @white;
    }
  }
    &.active>a{
      color: @red;
      background: none;
      border: none;
      &:hover{
        background: none;
        color: red;
        border: none;
        text-shadow: none;
      }
    }
}

/*Press*/
#media {
  div.row{
    background-color: @white;
  }
  img {
    margin: auto;
    text-align: center;
    max-height: 150px;
    padding: 10px;
  }
}

/*Responsiveness*/
@media (max-width: 1338px) {
  .content{
    margin: 7% 0;
    width: auto;
    padding-top: 10px;
    &.social{
      margin-top: 7%;
    }
  }
  .nav-tabs>li {
    margin: 0;
    &>a{
      border: none;
    }
  }
}

@media(max-width: 380px){
  .content{
    top: 275px;
    padding: 10px;
  }
}

